@font-face {
    font-family: 'Pokemon GB';
    src:url("fonts/Pokemon-GB.ttf");
}

body {
    background: linear-gradient(to bottom right, #00a86b, yellow);

}
#header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gym-name {
    font-family: 'Pokemon GB'
}

#middle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center
}

#leader {
    text-align: center;
    font-family: 'Pokemon GB'
}

#bottom-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;    
    padding-right: 25px;
    padding-left: 25px;
}

#history-content {
    text-align: center;
    margin-top: 200px;   
    font-family: 'Pokemon GB'
    
}

#poke-gifs {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px
} 

// Styling for modal
.modal {
    #pokemonInfo, #statsInfo {
        border: double;
        background-color: #d9d9d9;
        border-radius: 15px;
        text-align: center;
        font-family: 'Pokemon GB';

        li {
            list-style: none;
        }
    }
}